*{transition:all 0.3s ease-in-out;}

.container{
  clear:both;
  overflow:auto;
}

nav{float:right;}

.logo img{float:left;}

ul li{
  display: inline-block; padding:1px;
  font-size:15px; font-family:raleway;
}

a:link, a:visited {
    background-color: white;
    color: black;
    border: 1px solid green;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

a:hover, a:active {
    background-color: green;
    color: white;
  }
  h1 {text-align: center;}
  