<div class="container">
    <div class="logo">
      <img src="../../assets/img/logo.png" alt="/home" width="80"/>
      </div>
    <nav>
        <ul>
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/app-product-list">Listing Products</a></li>
            <li><a routerLink="/app-product-list">Viewing product</a></li>
            <li><a routerLink="/servicebook">Add Product </a></li>
            </ul>
      </nav>
    </div>
    <hr />
    <router-outlet></router-outlet>
    <app-product-list></app-product-list>

