<header>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</header>
<div class="container">
      <div class="logo">
        <img src="../../assets/img/logo.png" alt="/home" width="80"/>
        </div>
      <nav>
    <ul>
      <li><a routerLink="/login">Home</a></li>
      <li><a routerLink="/app-app-user-list">Listing Users</a></li>
      <li><a routerLink="/app-app-user-list">Viewing User</a></li>
      <li><a routerLink="/register">Creating/Update </a></li>
    </ul>
        </nav>
      </div>
<hr />
<div class="container">
  <app-app-user-list></app-app-user-list>
</div>
<router-outlet></router-outlet>

