<header>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</header>
<div class="container">
      <div class="logo">
        <img src="../../assets/img/logo.png" alt="/home" width="80"/>
        </div>
      <nav>
    <ul>
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/user">User</a></li>
    <li><a routerLink="/register">Product</a></li>
    <li><a routerLink="/servicebook">Service Booking</a></li>
    <li><a routerLink="/profile">Profile</a></li>
    </ul>
        </nav>
      </div>
<hr />
<router-outlet></router-outlet>

